<div class="edit-body">
<div class="edit-card">
    <h2>Edit Sneaker</h2>
    <div class="row">
      <div class="col">
        <div class="form-group">
            <form action="/sneaker/<%=sneaker.id %>?_method=PUT" method="POST">
          <label>Name</label>
          <input type="text" value='<%= sneaker.name %>'>
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Brand</label>
          <input class="edit-input" type="text"value='<%= sneaker.brand %>'>
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>ColorWay</label>
          <input class="edit-input" type="text"value='<%= sneaker.colorWay %>'>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Image</label>
          <input class="edit-input" type="text"value='<%= sneaker.img %>'>
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Size</label>
          <input class="edit-input" type="text"value='<%= sneaker.size %>'>
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>worn</label>
          <input class="edit-input" type="text"value='<%= sneaker.worn %>'>
        </div>
      </div>
  
      <div class="col">
        <input class="edit-input" type="submit" value='Edit Sneaker'>
    </form>
      </div>
    </div>
  </div>
</div>