<div class="heading">Sneakers</div>
<div class="container2">
  <% sneakers.forEach(sneaker => { %>
  <div class="sneaker">
    <img class="sneaker-img" src=<%=sneaker.img %> alt="Some nike sneakers" style="width:100%">
  <h1><a href="/sneaker/<%= sneaker.id %>/show"><%= sneaker.name %></a></h1>
  <h2 style="text-align: center;">Colorway: <%= sneaker.colorWay %></h2>
    <h2>size: <%= sneaker.size %></h2>
  </div>

    <% }) %>
</div>



