<div class="heading">Sneakers</div>
<div class="container2">
    <div  class="sneaker">
       <div class="sneakers"> 
            <h3><a href="/sneaker/<%= sneaker.id %>/show"><%= sneaker.name %></a>
            </h3>
            <img class="sneaker-img" src="<%= sneaker.img %> " alt="">
    <h3>Brand:<%= sneaker.brand %></h3>
    <h3>Size: <%= sneaker.size %></h3>
    <% if (sneaker.worn > 0) { %>
        <h3>Worn: <%= sneaker.worn %>. I have worn these</h3>
           <% } else { %>
                <h3>Need to wear</h3>
        <% } %>

        

    </div> 
        <a class="edit-link" href="/sneaker/<%= sneaker.id %>/edit">Edit this sneaker</a>
        <form style = "text-align: center;" action="/sneaker/<%=sneaker.id%>?_method=DELETE" method="POST"><input type="submit" value="Delete"></form> 
    </div>

    
               
     
        
    
    
      </div>

 
    

